<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客列表</title>
</head>
<div th:replace="admin/_fragments-admin::link" th:remove="tag"></div>
<body >
<!--导航-->
<div th:replace="admin/_fragments-admin::nav-admin(1)"></div>
<div class="ui attached pointing menu">
    <div class="ui  container">
        <div class=" right menu">
            <a href="#"th:href="@{/toadminblogs-add}" class="item">新增</a>
            <a href="#"th:href="@{/adminblogs}" class="item  active">列表</a>
        </div>
    </div>
</div>
<!--中间区域-->
<div class="m-padded-tb-big m-container-small">
  <div class="ui  container">
      <form action="#" method="post" class="ui segment form">
          <input hidden name="page">
          <div class="fields  inline">
             <div class="inline field">
                 <input type="text" name="title"  placeholder="标题">
             </div>
              <div class="field">
                  <div class="ui selection dropdown">
                      <input type="hidden" name="typeId">
                      <i class="dropdown icon"></i>
                      <div class="default text">分类</div>
                      <div class="menu">
                          <div class="item" th:each="type:${types}" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                      </div>
                  </div>
              </div>
              <div class="field">
                  <div class="ui checkbox">
                      <input type="checkbox" name="recommend" id="recommend">
                      <label for="recommend">推荐</label>
                  </div>
              </div>
              <div class="field">
                  <div class="ui mini teal basic button" id="search-btn"><i class="search  icon"></i>搜索</div>
              </div>
          </div>
      </form>
      <div id="table-container">
          <table th:fragment="bloglist" class="ui celled stackable table ">
              <thead>
              <tr>
                  <th></th>
                  <th>标题</th>
                  <th>类型</th>
                  <th>推荐</th>
                  <th>更新时间</th>
                  <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="blog,iterStat:${page.content}">
                  <td th:text="${iterStat.count}">1</td>
                  <td th:text="${blog.title}">刻意练习清单</td>
                  <td th:text="${blog.type.name}" >认知升级</td>
                  <td th:text="${blog.recommend}?'是':'否'">是</td>
                  <td th:text="${blog.updateTime}">2018-02-25 09:45</td>
                  <td>
                      <a href="#" th:href="@{/toadminblogupdate/{id}(id=${blog.id})}" class="ui mini teal button">编辑</a>
                      <a href="#" th:href="@{/adminblogdelete/{id}(id=${blog.id})}" class="ui mini red button">删除</a>
                  </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                  <th colspan="6">
                      <div class="ui  floated pagination menu" th:if="${page.totalPages}>1">
                          <!--onclick="page(this)" th:attr="data-page=${page.number}-1"  自定义属性id，通过this来传递-->
                          <a onclick="page(this)" th:attr="data-page=${page.number}-1"  th:unless="${page.first}" class="icon mini item">上一页</a>
                          <a onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}"class="icon mini item">下一页</a>
                      </div>
                      <a th:href="@{/toadminblogs-add}" class="ui mini teal basic right floated button">新增</a>
                  </th>
              </tr>
              </tfoot>
          </table>
      </div>

  </div>
</div>

<!--底部footer-->
<div th:replace="admin/_fragments-admin::footer"></div>
<div th:replace="admin/_fragments-admin::js"></div>
<script>
     $('.menu.toggle').on("click",function () {
           $('.m-item').toggleClass("m-mobile-hide");
     })
      $(".ui.dropdown").dropdown({
          on:'hover'
      })
    function page(obj) {
         $("[name='page']").val($(obj).data("page"));
         loaddata();
    }
    $("#search-btn").click(function () {
        loaddata();
    })
    function loaddata() {
         $("#table-container").load(/*[[@{/adminblogssearch}]]*/"adminblogssearch",{
             title : $("[name='title']").val(),
             typeId : $("[name='typeId']").val(),
             recommend : $("[name='recommend']").prop('checked'),
             page : $("[name='page']").val()
         })

    }
</script>
</body>
</html>